---
layout: default
---

<div class="bot-infos">
	<h1 id="chainer">{{page.botName}}</h1>

	<p><code class="language-plaintext highlighter-rouge">{{page.botDescription}}</code></p>

	<p><img src="{{page.botImageUrl}}" alt="Image of {{page.botName}} bot" title="Image of {{page.botName}} bot"/></p>

	<table>
	  <thead>
	    <tr>
	      <th>Type</th>
	      <th>Rarity</th>
	      <th>Acquisition</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>{{page.botType}}</td>
	      <td>{{page.botRarity}}</td>
	      <td>{{page.botAcquisition}}</td>
	    </tr>
	  </tbody>
	</table>

	<h2 id="abilities">Abilities</h2>

	<ul>
	  <li>
	    <p><strong>{{page.ability1Name}}</strong></p>
	    <p>{{page.ability1Description}}	
	  	<code class="language-plaintext highlighter-rouge">{{page.ability1Info}}</code></p>
	  </li>
	  <li>
	    <p><strong>{{page.ability2Name}}</strong></p>
	    <p>{{page.ability2Description}}	
	  	<code class="language-plaintext highlighter-rouge">{{page.ability2Info}}</code></p>
	  </li>
  	  <li>
	    <p><strong>{{page.ability3Name}}</strong></p>
	    <p>{{page.ability3Description}}	
	  	<code class="language-plaintext highlighter-rouge">{{page.ability3Info}}</code></p>
	  </li>
	</ul>

	<h2 id="ai-tree">AI tree</h2>



	<h2 id="tips">Tips</h2>

	{{content}}

</div>
